<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>GA2PY</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <style>
        body {
          padding-top: 30px;
        }
        .logo{
          height: 60px;
        }
        .login-logo{
            height:45px;
        }
        .login-text{
            font-family:Helvetica, Arial, sans-serif;
            margin-left: 5px;
            font-size: 1.3em;
            display: inline-block;
            vertical-align: middle;
        }
        .container{
            border-color: rgba(0, 132, 255, 1);
            border-width: 2px;
            border-radius: 15px;
            background-color: rgba(0, 132, 255, 0.1);
            height: 100%;
        }
        .content{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        p{
          font-family:Helvetica, Arial, sans-serif;
        }
        .row{
            margin-top: 20px;
        }
        ol{
          padding-left: 15px;
        }
        .text-danger{
          margin: 0px;
        }
        select{
          display: inline-block;
        }
        video{
          width:600px;
        }
        .video-container{
          display:none;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
      <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <img class="logo" src="GA2PY.png">
            <p>Logged into PriceYak as {{ user.email }}</p>
          </div>
      </div>
      <div class="row text-danger">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
          {{error}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
          <ol>
            <li>
              Make a <a target="_blank" href="https://analytics.google.com">Google Analytics</a> account
            </li>
            <li>
              Create an Account and Account Property on Google Analytics
            </li>
            <li>
              Select a store to add Google Analytics to. Only eBay and WooCommerce stores are supported: 
              <select class="form-control">
                {{#each stores}}
                 {{#if this.listing_template}}
                  {{#eq this.destination "ebay"}}
                      <option data-ga-id="{{this.gaId}}" value="{{this.id}}">{{this.destination}}: {{this.destination_sellername}}</option>
                  {{/eq}}
                  {{#eq this.destination "woocommerce"}}
                      <option data-ga-id="{{this.gaId}}" value="{{this.id}}">{{this.destination}}: {{this.destination_sellername}}</option>
                  {{/eq}}
                  {{/if}}
                {{/each}}
                  <option data-ga-id="{{gaId}}" value="*">All of the stores!</option>
              </select>
            </li>
            <li>
              Copy your Google Analytics account tracking code (it looks like UA-xxxxxxxx-xx) and paste it below.
              <form class="input-group">
                  <span class="input-group-addon">Google Analytics ID</span>
                  <input type="text" class="form-control" id="analytics-id" placeholder="UA-xxxxxxxx-xx" value="{{gaId}}">
                  <span class="input-group-btn">
                  <input class="btn btn-default" id="update-template" type="submit">Save</input>
                </span>
              </form>
            </li>
            <li>
              Click Submit and your PriceYak template will be updated.
            </li>
            <li>
              Then, head into PriceYak and refresh your listings!
            </li>
            <li>
              For more information, check out this <a href="https://community.ebay.com/t5/Tools-Apps/How-to-Track-eBay-Listing-with-Google-Analytics-Beginers-Guide/td-p/27194223" target="_blank">blog post.</a>
            </li>
          </ol>
         </div>  {{!-- /*col*/ --}}
        </div> {{!-- /*row*/ --}}
        <div class="row video-container">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                <video loop="true" muted="true" autoplay="true" src="refreshtemplate.mp4"></video>
            </div>
          </div>
      </div> {{!-- /*content*/ --}}
    </div> {{!-- /*container*/ --}}
  </body>
  <script type="text/javascript">
  $(function(){
    $("select").on("change", function(){
        console.log("changing value")
        console.log($("select option:selected").attr("data-ga-id") )
        $("analytics-id").val($(this).attr("data-ga-id"))
    })
    $("#update-template").click(function(ev,target){
      ev.preventDefault()
      var stores = $("select option:selected").val()
      var gaId = $("#analytics-id").val()
      var data = { "stores" : stores, "gaId" : gaId }
      console.log(data)
      $.post("/", data,() => $(".video-container").show());
    }) 
  });
  </script>
</html>
